
<div class="panel panel-default mt-5">
    {{ displayMessage + ' '}}  {{ today| date: 'MM/dd/yyyy'}}
    <br><br>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)] = "searchTerm" />
    </div>  
    <br><br> 
    <h3>Employee List</h3>
    <br>
    <div *ngFor="let emp of filteredEmployees">
            <div>
                    <app-display-employee [employee] = "emp" [searchTerm] = "searchTerm"
                    (notifyDelete) = "onDeleteNotification($event)"></app-display-employee>
            </div>
        </div>
<div *ngIf = "error">
    {{ error }}
</div>
</div>